/* COIN FLIP CSS */

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  perspective: 1000px; /* Needed for 3D rotation */
}

.coin {
  width: 120px;
  height: 120px;
  position: relative;
  transform-style: preserve-3d;
  /* transition: transform 2s ease; */
}




.face {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  border: 3px solid #333;
}

.heads {
  background-image: url('quarter-heads.png');
}

.tails {
  background-image: url('quarter-tails.png');
  transform: rotateY(180deg);
}

.home-button {
    
  display: block;
  margin: 1rem auto;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 6px;
  cursor: pointer;

}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}