/* COIN FLIP CSS */

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  perspective: 1000px; /* Needed for 3D rotation */
}

.coin {
  width: 120px;
  height: 120px;
  position: relative;
  transform-style: preserve-3d;
  /* transition: transform 2s ease; */
}

.home-button {
  position: absolute;
  left: 77.2rem;
  top: 20rem;
}


.face {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  border: 3px solid #333;
}

.heads {
  background-image: url('quarter-heads.png');
}

.tails {
  background-image: url('quarter-tails.png');
  transform: rotateY(180deg);
}